{% extends 'layout.twig' %}

{% block title %}Add User{% endblock %}

{% block content %}

    <form action="" method="post">
        name: <input name="login"><br/>
        password <input name="password"><br/>
        <input type="submit" value="send">
    </form>
{% endblock %}