{% if _user %}
    Hello, {{ _user.user_login }}
    <a style="float:right" href="/account/logout">Logout</a>
    <br/>
{% else %}
    <a style="float:right" href="/account/login">Login</a>
    <br/>
{% endif %}
<hr/>