<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>

<body>

<div class="container">
    <h1>Catalog L4</h1>
    <div id="app"></div>
    <input id="show_more" type="button" value="Показать еще"/>
</div>

</body>
<script>
    var from = 0;

    function load() {
        $.ajax({
            url: '?from=' + from,
            dataType: 'html',
            success: function (data) {
                $('#app').append(data);
                from += {{ limit }}
            }
        });
    };
    load();
    $('#show_more').click(function () {
        load();
    })

</script>

</html>